.login-box {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  text-align: center;
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
}

.pwd {
  width: 100%;
  visibility: hidden;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  display: block;
  border-radius: 3px;
  font-size: 18px;
}

button {
  background-color: #4caf50; /* Change the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color to white */
  padding: 12px 24px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underlines */
  display: inline-block; /* Make it a block element */
  font-size: 16px; /* Set the font size */
  margin: 10px 0; /* Add some margin */
  cursor: pointer; /* Add a cursor on hover */
  border-radius: 4px; /* Add rounded corners */
}
button:hover {
  background-color: #45a049; /* Change the background color on hover */
}

.error-message {
  background-color: #f44336; /* Set the background color */
  color: white; /* Set the text color to white */
  padding: 10px 20px; /* Add some padding */
  border-radius: 4px; /* Add rounded corners */
  margin: 10px 0; /* Add some margin */
}
