{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">>
</head>

<div class="login-box">
    <h1>Login</h1>
    {% if error_message %}
    <div class="error-message">{{ error_message }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input autocomplete="off" type="text" id="username" name="username">
        <label for="email">Passowrd</label>
        <input autocomplete="off" type="text" id="email" name="email">
        <button type="submit">Login</button>
    </form>
</div>

{% endblock content %}